/* src/App.css */
.App-header {
  /* background: linear-gradient(#e66465, #9198e5); */
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  /* background-color: #9370DB; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.countdown-timer {
  text-align: center;
}

.display {
  font-size: 2rem;
  margin: 20px;
}

/* .backgroundColor {
  background-color: #9370DB;
  color: white;
}
.backgroundGradient {
  background: linear-gradient(to bottom, white, #9370DB);
  color: white;
} */