/* src/App.css */
.App-header {
  background-color: #CE93D8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.countdown-timer {
  text-align: center;
}

.display {
  font-size: 2rem;
  margin: 20px;
}
