#heading h1{
    display:inline;
}
#heading2{
    color: #7B1FA2;
    margin: 15px;
}


.countdown-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
  }
  
  .countdown-timer input, .countdown-timer button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ae71c8;
    background-color: transparent;
    color: aliceblue;
    
  }


  .countdown-timer button:hover{
    cursor: pointer;
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);

  }
  
  

  .timer-item{ 
     display: inline-block;
     border: 1px solid #ae71c8;
     padding: 10px;
     margin: 5px;
     border-radius: 20px;
     background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);

  }

  .timer-item span{
    font-size: 15px;
  }
  
 #creator{
    margin-top: 60px;
    font-size: 15px;
 }